body {
  text-align: center;
  margin-top: 30px;
}

#random-button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

#url-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 10px;
  justify-centent: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}