body {
  text-align: center;
  margin-top: 30px;
}

#random-button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

#url-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
  max-width: 100%;
  overflow-wrap: break-word;
}

@media (min-width: 1000px) {
  #url-list {
    grid-template-columns: repeat(5, 200px);
  }
}